* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.center {
    background-color: beige;
    height: 400px;
}

.form-container {
    z-index: 10;
    width: 400px;
    height: calc(100% + 30px);
    border: 4px solid;
    border-radius: 3px;
}

.form-container h2 {
    text-align: center;
}

form {
    width: 400px;
    display: block;
}