* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.center {
    position: relative;
    background-color: rgb(214, 212, 212);
    height: 400px;
    z-index: 1;
}

.myText {
    width: 60%;
    float: left;
    margin-left: 50px;
}

.myText h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-container {
    position: relative;
    width: 400px;
    height: 440px;
    border: 5px solid rgba(5, 16, 16, 0.4);
    border-radius: 3px;
    background-color: #aca9a9;
    top: 50%;
    float: right;
    right: 50px;
    transform: translateY(-50%);
}

.form-container {
    margin: 0 auto;
    width: 30%;
    padding: 10px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(245, 238, 231);
}

input[type=text] {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    background-color: white;
}

input[type=submit] {
    width: 100%;
    padding: 9px;
    cursor: pointer;
    color: rgb(74, 70, 65);
    border: none;
    border-radius: 3px;
    font-size: 20px;
    background-color: rgb(202, 210, 210);
}

input[type=submit]:hover {
    background-color: rgb(214, 203, 51);
}

input[type=submit]:active {
    transform: scale(0.99);
}

input:focus {
    outline: none;
}