* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.center {
    position: relative;
    background-color: rgb(22, 88, 180);
    height: 400px;
    width: 100%;
    padding: 0 1%;
    margin: 0 auto;
    display: flex;
    /* flex-wrap: nowrap; */
}

.myText {  /* Das Child kann 'Position' nicht mit Flex verwenden */
    flex: 3; /* 'width' oder 'flex-basis' oder flex-grow */
    display: flex;
    flex-direction: column;
}

.myText h1 {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.999rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 30px;
    color: rgb(210, 217, 226);
}

.myText p {
    font-family: 'Catamaran', sans-serif;
    font-size: 1.414rem;
    font-weight: 300;
    line-height: 1.5;
    color: rgb(210, 217, 226);
}

.form-container {   /* Das Child kann 'Position' nicht mit Flex verwenden */
    flex:1; /* 'width' oder 'flex-basis' oder flex-grow  */
    position: relative;
    height: 440px;
    padding: 0 0.5%;
    border-radius: 3px;
    background-color: #2c72bd;
    top: 50%;
    transform: translateY(-50%);    
}

.form-container h2 {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.414rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(216, 220, 226);
}

input[type=text] {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 3px;
    /* color: #111d2c; */
    background-color: #c3dffb;
    font-family: 'Catamaran', sans-serif;
    font-size: 1.414rem;

}

input[type=submit] {
    width: 100%;
    padding: 9px;
    cursor: pointer;
    color: #111d2c;
    border: none;
    border-radius: 3px;
    background-color: #C29B51;
    font-family: 'Catamaran', sans-serif;
    font-size: 1.414rem;
    font-weight: 600;
}

input[type=submit]:hover {
    background-color: rgb(205, 194, 50);
}

input[type=submit]:active {
    transform: scale(0.99);
}

input:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    .center {
        flex-direction: column;
        overflow: auto;
    }
    .myText h1 {
        text-align: center;
        font-size: 1.414rem;
    }
    .myText p {
        text-align: center;
        font-size: 1rem;
    }
    .form-container {
        width: 90%;
        margin: 0 auto;
        padding: 0 1%;
        top: 20px;
        transform: none;
    }
    .form-container h2 {
        font-size: 1.414rem;
    }
    input[type=text] {
        font-size: 1rem;
    }
    input[type=submit] {
        font-size: 1rem;
        font-weight: 500;
    }
}

@media screen and (max-width: 1200px) {
    .center {
        flex-direction: column;
        overflow: auto;
    }   
    .myText h1 {
        text-align: center;
    }
    .myText p {
        text-align: center;
    }
    .form-container {
        width: 50%;
        margin: 0 auto;
        padding: 0 1%;
        top: 20px;
        transform: none;
    }
}

@media screen and (max-width: 769px) {
    .center {
        flex-direction: column;
        overflow: auto;
    }   
    .myText h1 {
        text-align: center;
    }
    .myText p {
        text-align: center;
    }
    .form-container {
        width: 70%;
        margin: 0 auto;
        padding: 0 1%;
        top: 20px;
        transform: none;
    }
}

