* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.footer {
    position: relative;
    background-color: rgb(3, 16, 29);
    height: 175px;
    z-index: -1;
}
/* height: calc(100% - 450px); */