* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.footer {
    position: relative;
    background-color: rgb(3, 16, 29);
    z-index: -1;
    color: white;
    display: flex;
    flex-direction: column;
}
/* height: calc(100% - 450px); */
/* min-height: 575px; https://stackoverflow.com/questions/147528/how-do-i-force-a-div-block-to-extend-to-the-bottom-of-a-page-even-if-it-has-no-c  */
